# Project : Related Data Recommendation using Assosiation Rule Mining

# Read set

In [1]:
A = [['Milk', 'Onion', 'Chhole', 'Rajma', 'Ghee', 'Dahi'],
     ['Dill', 'Onion', 'Chhole', 'Rajma', 'Ghee', 'Dahi'],
     ['Milk', 'Apple', 'Rajma', 'Ghee'],
     ['Milk', 'Mutter', 'Corn', 'Rajma', 'Dahi'],
     ['Corn', 'Onion', 'Onion', 'Rajma', 'Ice cream', 'Ghee']]

# Preview

In [2]:
A

[['Milk', 'Onion', 'Chhole', 'Rajma', 'Ghee', 'Dahi'],
 ['Dill', 'Onion', 'Chhole', 'Rajma', 'Ghee', 'Dahi'],
 ['Milk', 'Apple', 'Rajma', 'Ghee'],
 ['Milk', 'Mutter', 'Corn', 'Rajma', 'Dahi'],
 ['Corn', 'Onion', 'Onion', 'Rajma', 'Ice cream', 'Ghee']]

# Convert data into TransactionEncoder

In [3]:
from mlxtend.preprocessing import TransactionEncoder
import pandas as mt
te = TransactionEncoder()
A = mt.DataFrame(te.fit_transform(A),columns=te.columns_)

In [5]:
A

,Apple,Chhole,Corn,Dahi,Dill,Ghee,Ice cream,Milk,Mutter,Onion,Rajma
0,False,True,False,True,False,True,False,True,False,True,True
1,False,True,False,True,True,True,False,False,False,True,True
2,True,False,False,False,False,True,False,True,False,False,True
3,False,False,True,True,False,False,False,True,True,False,True
4,False,False,True,False,False,True,True,False,False,True,True

# Create a apriori

In [6]:
from mlxtend.frequent_patterns import apriori
Q = apriori(A,min_support=0.5,use_colnames=True)

In [7]:
Q

    support              itemsets
0       0.6                (Dahi)
1       0.8                (Ghee)
2       0.6                (Milk)
3       0.6               (Onion)
4       1.0               (Rajma)
5       0.6         (Rajma, Dahi)
6       0.6         (Ghee, Onion)
7       0.8         (Rajma, Ghee)
8       0.6         (Rajma, Milk)
9       0.6        (Rajma, Onion)
10      0.6  (Rajma, Ghee, Onion)

# Creating a function Confidence

In [8]:
def confidence(A,x,y):
    num = A[(A[x]== True) & (A[y]== True)].shape[0]
    den = A[(A[x] == True)].shape[0]
    conf = num/den
    return conf

In [9]:
confidence(A,"Rajma","Ghee")

0.8

# Create a function Support

In [16]:
def supp(A,i,j):
    num = A[(A[i] == True) & (A[j] == True)].shape[0]
    den = A.shape[0]
    sup = num/den
    return sup

In [18]:
#supp(A,"Rajma","Ghee")

In [20]:
rule = []
support = []
conf = []
for i in A.columns:
    for j in A.columns:
        if(i !=j):
            rule.append(i + " " + j)
            support.append(supp(A,i,j))
            conf.append(confidence(A,i,j))

In [21]:
T = mt.DataFrame([rule,support,conf]).T
T.columns = ["Rule","Supp","Conf"]

In [22]:
T

                Rule Supp Conf
0       Apple Chhole  0.0  0.0
1         Apple Corn  0.0  0.0
2         Apple Dahi  0.0  0.0
3         Apple Dill  0.0  0.0
4         Apple Ghee  0.2  1.0
..               ...  ...  ...
105       Rajma Ghee  0.8  0.8
106  Rajma Ice cream  0.2  0.2
107       Rajma Milk  0.6  0.6
108     Rajma Mutter  0.2  0.2
109      Rajma Onion  0.6  0.6

[110 rows x 3 columns]

# Related data recommendation

In [23]:
T[(T.Supp > 0.4) & (T.Conf > 0.1)]

            Rule Supp  Conf
39    Dahi Rajma  0.6   1.0
58    Ghee Onion  0.6  0.75
59    Ghee Rajma  0.8   1.0
79    Milk Rajma  0.6   1.0
95    Onion Ghee  0.6   1.0
99   Onion Rajma  0.6   1.0
103   Rajma Dahi  0.6   0.6
105   Rajma Ghee  0.8   0.8
107   Rajma Milk  0.6   0.6
109  Rajma Onion  0.6   0.6